HOST_ELASTIC=https://localhost:9200
PASSWORD_ELASTIC=
NCBI_API_KEY=

# Sorgente attiva: 'arxiv' oppure 'pubmed'
SOURCE=arxiv

# Query arXiv estesa:
QUERY=all:"entity resolution" OR all:"entity matching" OR all:"record linkage" OR all:"data deduplication"

# Query arXiv alternativa (singola per test rapidi):
# QUERY=ti:"entity resolution"

# Query PubMed:
# SOURCE=pubmed
# QUERY="cancer risk" AND "coffee consumption" AND free full text[filter] OR glyphosate AND cancer risk AND free full text[filter] OR ultra-processed foods AND cardiovascular risk AND free full text[filter]
